.frontpage{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #2a2e33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frontpage input{
  width: 90%;
  height:min-content;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}
.frontpage button{
  cursor: pointer;
  width: 90vw;
  margin: 10px 0;
  border: none;
  border-radius: 50px;
  padding: 7px 0;
}
.mainwrapper{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.toprow{
  /* box-sizing: border-box; */
  /* margin: 5px 10px; */
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}
.toprow .menuicon{
  font-size: 25px;
  color: #2a2e33;
}
.greeting{
  /* padding: 40px 0; */
  width: 100%;
  font-family: batusa;
  font-size: 1.8rem;
  line-height: 1.2;
}
.greeting .tagline{
  font-size: 0.9rem;
}
.categorywisedisplay{
  display: flex;
  flex-direction: column;
}
.categorywisedisplay .categoryName{
  font-family: basuto;
  font-size: 1.2rem;
}